@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: hsl(0, 0%, 100%);
      --foreground: hsl(222.2 84% 4.9%);

      --card: hsl(0 0% 100%);
      --card-foreground: hsl(222.2 84% 4.9%);

      --popover: hsl(0 0% 100%);
      --popover-foreground: hsl(222.2 84% 4.9%);

      --primary: hsl(187, 100%, 31%);
      --primary-foreground: hsl(210 40% 98%);

      --primary-transparent: hsla(187, 100%, 31%, 0.15);

      --error: hsl(0, 100%, 50%);
      --error-transparent: hsla(0,100%, 50%, 0.15);

      --success: hsl(120, 100%, 25%);

      --secondary: hsl(210 40% 96.1%);
      --secondary-foreground: hsl(222.2 47.4% 11.2%);

      --muted: hsl(210 40% 96.1%);
      --muted-foreground: hsl(215.4 16.3% 46.9%);

      --accent: hsl(210 40% 96.1%);
      --accent-foreground: hsl(222.2 47.4% 11.2%);

      --destructive: hsl(0 84.2% 60.2%);
      --destructive-foreground: hsl(210 40% 98%);

      --border: hsl(214.3 31.8% 91.4%);
      --input: hsl(214.3, 31.8%, 91.4%);
      --ring: hsl(0, 0%, 17%);

      --radius: 0.5rem;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      /* color: hsla(187, 100%, 31%, 0.1); */
    }
  }
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

